/* You can add global styles to this file, and also import other style files */
.contaimer{
    border:2px solid black;
     margin: 20px;
     margin-top: 20px;
    padding:10px;
}
.button_container{
    align-items: center;
    text-align: center;
    margin: 20px;
    margin-bottom: 60px;
    height: 40px;
}
.button_style{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.removeData_button{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;  
    margin: 50px;
}
.title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}